
.scroll-bar-primary::-webkit-scrollbar {
  width: 4px !important;
}

/* Track */
.scroll-bar-primary::-webkit-scrollbar-track {
 @apply bg-transparent;
}

/* Handle */
.scroll-bar-primary::-webkit-scrollbar-thumb {
  @apply bg-gray-scroll rounded-[1px];

}

/* Handle on hover */
.scroll-bar-primary::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-light;
}

.noti-popup {
  max-height: calc(100vh - 260px) !important;
  height: max-content;
  @screen lg {
    height: max-content !important;
  }
}